# This is a Klipper configuration for TronXY X5SA with BigTreeTech Octopus V1.1
# motherboard.

# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.


### HARDWARE ###
[include hardware/printer.cfg]
[include hardware/axis/XY.cfg]
[include hardware/axis/Z.cfg]
# [include hardware/input_shaper.cfg]
[include hardware/extruder.cfg]
[include hardware/firmware_retraction.cfg]
[include hardware/heated_bed.cfg]
#[include hardware/probe.cfg]
[include hardware/fans.cfg]
[include hardware/lights.cfg]
[include hardware/display.cfg]

### MACROS ###
# [include macros/print_base/park.cfg]
[include macros/print_base/pause_resume.cfg]
[include macros/print_base/print_cancel.cfg]
[include macros/print_base/print_end.cfg]
[include macros/print_base/print_start.cfg]

[include macros/probing/adjust_z_offset.cfg]
[include macros/probing/bed_mesh.cfg]
[include macros/probing/crunch_level.cfg]
[include macros/probing/homing.cfg]
# [include macros/probing/klicky_probe.cfg]

[include macros/helpers/filament_swap.cfg]
# [include macros/helpers/heatsoak.cfg]
# [include macros/helpers/lights.cfg]
# [include macros/helpers/nozzle_cleaning.cfg]
[include macros/helpers/temp_check.cfg]

[include macros/calibration/pa_calibrate.cfg]

# [include macros/miscs/debugging.cfg]
# [include macros/miscs/marlin_compat.cfg]


# [include kiauh_macros.cfg]


[probe]
pin: ~!PD8
x_offset: -40
y_offset: -7
#z_offset: 3.71
#z_offset: 3.049
speed: 2.5
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.01
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 205,200
speed: 150
z_hop: 10
z_hop_speed: 10

# [bed_screws]
# screw1: 5,5
# screw2: 165,5
# screw3: 325,5
# screw4: 5,325
# screw5: 165,325
# screw6: 325,325

[bed_screws]
screw1: 25,25 #45,12
screw2: 200,25 #210,12
screw3: 375, 25 #350,12
screw4: 25,375 #45,330
screw5: 200,375 #210,330
screw6: 375,375 #350,330

[screws_tilt_adjust]
speed: 50
screw1: 65,25 #45,12
screw2: 240,25 #210,12
screw3: 415, 25 #350,12
screw4: 65,375 #45,330
screw5: 240,375 #210,330
screw6: 415,375 #350,330
screw_thread: CW-M3


[bed_mesh]
speed: 50
probe_count: 5,5
mesh_min : 20,20
mesh_max : 380,380
horizontal_move_z: 8
algorithm: lagrange

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.360
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.028176, 0.048176, 0.013176, 0.070676, 0.058176
#*# 	0.008176, 0.053176, 0.013176, 0.013176, -0.026824
#*# 	-0.046824, -0.016824, -0.069324, -0.059324, -0.069324
#*# 	0.015676, 0.058176, 0.040676, 0.045676, 0.018176
#*# 	0.060676, 0.053176, 0.008176, 0.053176, 0.090676
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 380.0
#*# min_y = 20.0
#*# max_y = 380.0
